@font-face {
  font-family: "Rubik Bubbles";
  src: local("Rubik Bubbles"),
    url("./fonts/RubikBubbles-Regular.ttf") format("truetype");
  font-weight: regular;
}

body {
  height: 100vh;
  margin: 0px auto;
  padding: 0px;
}

#root {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: khaki;
}

.App {
  width: 100%;
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

#create-dog-form {
  height: 500px;
  color: white;
  font-size: 30px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-left: 18px solid yellowgreen;
  border-bottom: 18px solid khaki;
  border-right: 18px solid tomato;
  border-top: 18px solid teal;
  margin: 10px;
}

#create-dog-form h4 {
  margin: 0px;
}

#create-dog-form label {
  margin-top: 20px;
}
#create-dog-form input[type="submit"] {
  margin-top: 20px;
  color: black;
}

#create-dog-form input {
  color: black;
  font-size: 30px;
  margin-left: 10px;
}

#create-dog-form input:disabled {
  opacity: 0.8;
}

#create-dog-form textarea:disabled {
  opacity: 0.8;
}

#create-dog-form select {
  color: black;
  font-size: 30px;
  margin-left: 10px;
}

.selectors {
  display: flex;
}

.selector {
  user-select: none;
  border: 1px solid black;
  border-radius: 400px;
  padding: 4px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.selector.active {
  background-color: black;
  color: white;
}

#main-section {
  border: 2px solid black;
  background-color: black;
  width: 80%;
  height: 90%;
  display: flex;
  flex: 12;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
}

.container-header {
  color: black;
  width: 100%;
  background-color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 2;
}

.container-header > * {
  margin-left: 10px;
  margin-right: 10px;
}

.content-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 23;
  overflow-y: auto;
}

.dog-card {
  width: 200px;
  height: 340px;
  background-color: white;
  border: 5px dotted;
  margin: 20px;
  position: relative;
}

.dog-name {
  color: rgb(170, 255, 0);
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  margin: 0px;
  padding: 10px 0px;
  text-align: center;
  width: 100%;
  font-family: Rubik Bubbles;
  font-size: 25px;
  -webkit-text-stroke: 1px black;
  text-shadow: 1px 5px black;
}

.dog-description {
  color: black;
  margin-top: 0px;
  padding: 0px 10px;
}

.dog-card img {
  width: 100%;
  max-height: 50%;
  resize: both;
  border-bottom: 5px solid black;
}

.favorite-overlay,
.unfavorite-overlay,
.loading-overlay {
  all: unset;
  width: 100%;
  height: 100%;
  position: absolute;
  resize: both;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
}

.loading-overlay {
  all: unset;
  width: 100%;
  height: 100%;
  position: absolute;
  resize: both;
  background-color: rgba(0, 0, 0, 0.204);
  color: rgb(255, 255, 255);
  display: flex;
}

.favorite-overlay.active {
  background-color: rgba(0, 0, 0, 0.554);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: 900;
}

.unfavorite-overlay.active {
  background-color: rgba(141, 0, 0, 0.4);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: 900;
}

.description-container {
  position: relative;
}

.favorite-button,
.unfavorite-button {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 0px solid transparent;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
  color: transparent;
  z-index: 2;
}

.favorite-button:hover,
.unfavorite-button:hover,
.trash-button:hover {
  opacity: 1;
}

.trash-button {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 0px solid transparent;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
  color: transparent;
  z-index: 2;
}

.modal {
  position: absolute;
  height: 500px;
  width: 1000px;
  z-index: 10;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 40px solid purple;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#close-modal-button {
  all: unset;
  font-size: 40px;
  background-color: tomato;
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  border: 2px solid gray;
}

#accept-modal-button {
  all: unset;
  font-size: 40px;
  background-color: darkgreen;
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  border: 2px solid gray;
}

#home-page {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.btn {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn:hover,
.btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

#home-page > h1 {
  font-size: 90px;
  background-color: black;
  border-radius: 25px;
}

h1 > .one,
.six,
.eleven {
  color: tomato;
}

h1 > .two,
.seven,
.twelve {
  color: orange;
}

h1 > .three,
.eight {
  color: palegreen;
}
h1 > .four,
.nine {
  color: skyblue;
}

h1 > .five,
.ten {
  color: palevioletred;
}
